body {
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#dbeafe,#e0f2fe);
}
.sidebar {
width:200px;
position:fixed;
height:100vh;
background:rgba(255,255,255,0.7);
padding:20px;
}
.main {
margin-left:220px;
padding:40px;
}
.card {
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 8px 30px rgba(37,99,235,0.15);
}
